@charset "UTF-8";


/* タブレット向けレイアウト */
@media (max-width: 1000px) {
  
  .global-nav{
    text-align: center;
    padding-top: 2.0rem;
  }
  
  .fa-address-card,.fa-laptop-code,.fa-users,.fa-chart-line{
    font-size:9.0rem;
    padding: 1.5rem 0 ;
  }
  
  .skill-name,.skill-level,.works-text,.community-text{
      font-size: 1.3rem;
  }
  
  .skill-name h3,.skill-level h3{
      font-size: 1.3rem;
  }
  
  .contact{
    padding-top:10.0rem;
}

.site-name-top{
      font-size:3.0rem;
      letter-spacing: 0.2rem;
  }
  .site-name-bottom{
      font-size:1.5rem;
      letter-spacing: 0.1rem;
  }
  
  .global-nav .nav-item{
  font-size:0.9rem;
  display: none;
  }
  
  .skills{
    height:48rem;
}

  .works{
    height:48rem;
}

  .community{
    height:48rem;
}


.a-square{
    display: inline-block;
    float:right;
    margin: 2.0rem
}


.header{
    background-color: rgba(0,0,0,0.0);
}

.global-nav{
    padding-top: 0rem;
}

.skills-text,.works-text,.community-text,.contact-text,.about-text{
      font-size:1.5rem;
  }
  
}



/* スマホ向けレイアウト */
@media (max-width: 670px) {
  .site-name-top{
      font-size:2.5rem;
      letter-spacing: 0.3rem;
      padding-top: 11.0rem;
  }
  .site-name-bottom{
      font-size:1.5rem;
      letter-spacing: 0.1rem;
  }
  .global-nav .nav-item{
     padding-top: 1.0rem;
     font-size:0.9rem;
  }
  
  .global-nav{
    padding-top: 0;
  }
  
  .global-nav li{
    padding-top: 0.5rem;
  }
  
 
  
  .about{
      margin-top:20.0rem;
  }
  
  
  .d-flex{
      flex-direction:column;
  }
  .skills,.works,.community{
      margin:0 auto;
  }
  
  
  
  .about-text,.contact{
      padding-right:2.0rem;
      padding-left:2.0rem;
      font-size:1.3rem;
  }
  
  .skills-text,.works-text,.community-text,.contact-text{
      font-size:1.3rem;
  }
  
  .skills,.community,.works,.contact,.about{
    padding-top:5.0rem;
}

.skills{
    height:48rem;
}

.skill-name,.skill-level{
  padding-left: 0;
   padding-right: 0;
}

.works{
    height:54rem;
}

.community{
    height:54rem;
}

.a-square{
    display: inline-block;
    float:right;
    margin: 2.0rem;
    transition:0.5s;
    z-index: 100;
}

/*.b-square{
    z-index: 100;
}


.a-square:active{
  opacity: 0;
}*/

.about-text{
  font-size:1.3rem;
}

.contact-text{
  font-size:1.3rem;
}

.contact-icon a{
  font-size:1.3rem;
  z-index: 100;
}

.global-nav-2 li{
     margin-top: 0.0rem;
     font-size:1.7rem;
     padding-top: 2.0rem;
     z-index: 100;
 }
 
 .global-nav-2{
    z-index: 100;
 }

}